* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore

# Ensure consistent line endings
* text=auto

# Handle specific file types
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.php text eol=lf
*.blade.php text eol=lf